div.grid {
  border: 1px solid black;
  display: inline-block;
}

div.row {
  display: block;
  margin: 0;
  height: 5px;
}

div.cell {
  display: inline-block;
  vertical-align: top;
  width: 5px;
  height: 5px;
}

div.cell.alive {
  background-color: black;
}

div.cell.dead {
  background-color: transparent;
}
